<div class="container">
  <div class="row row-content">
    <div class="col-xs-12 col-sm-3 col-sm-push-9">
      <p style="padding:20px;"></p>
      <h3 align=center>Our Lipsmacking Culinary Creations</h3>
    </div>
    <div class="col-xs-12 col-sm-9 col-sm-pull-3">
      <div ng-repeat="dish in dishes" ng-include src="'views/dish.list.html'"></div>
    </div>
  </div>

  <hr />

  <div class="row row-content">
    <div class="col-xs-12 col-sm-3">
      <p style="padding:20px;"></p>
      <h3 align=center>This Month's Promotions</h3>
    </div>
    <div class="col-xs-12 col-sm-9">
      <div ng-include src="'views/dish.promotion.html'"></div>
    </div>
  </div>

  <hr />

  <div class="row row-content">
    <div class="col-xs-12 col-sm-3 col-sm-push-9">
      <p style="padding:20px;"></p>
      <h3 align=center>Meet our Culinary Specialists</h3>
    </div>
    <div class="col-xs-12 col-sm-9 col-sm-pull-3">
      <div ng-init="item = specialist" ng-include src="'views/specialist.list.html'"></div>
    </div>
  </div>
</div>
